
.main {
    width:95%;
    height:95%;

    padding: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.miembros{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}